:root {
  --dark-bg: #359ff5f2;
  --spacing: 350px;
  --main-font: brandon-grotesque, sans-serif;
  --heading-font: elevon, sans-serif;
  --heading-weight: 700;
  --main-font-weight: 400;
  --main-font-style: normal;
  --large-font-size: 2.5rem;
  --medium-font-size: 1.25rem;
  --small-font-size: 1rem;
}

body {
  font-family: var(--main-font);
  font-weight: var(--main-font-weight);
  font-style: var(--main-font-style);
  margin: 0;
  background-image: url('image.jpg');
  background-size: cover; /* This will cover the entire viewport */
  background-repeat: no-repeat; /* This will prevent the image from repeating */
  background-position: center; /* This will center the image */
  border-radius: 10px;
}

canvas {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}

main {
  width: 100%;
  color: white;
  z-index: 99;
  position: absolute;
  margin: 0;
  padding: 120px 0;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
}

header, section {
  background: var(--dark-bg);
  padding: 2rem;
  margin-bottom: var(--spacing);
}

header {
  grid-column: 2 / span 5;
  font-size: var(--large-font-size);
  border-radius: 10px;
}

section {
  grid-column: 2 / 8;
  font-size: var(--medium-font-size);
  line-height: 1.5;
  border-radius: 10px;
}

h1, h2, h3, blockquote {
  font-family: var(--heading-font);
  font-weight: var(--heading-weight);
  font-style: var(--main-font-style);
}

blockquote {
  grid-column: 2 / span 9;
  margin: 0;
  padding: 0;
  margin-bottom: var(--spacing);
}

blockquote p {
  color: rgb(255, 255, 255);
  background-color: #40444783;
  font-size: 3rem;
  display: inline;
  line-height: 1;
  border-radius: 10px;
  padding: 5%;
}

.left {
  grid-column: 6 / 12;
}

.right {
  grid-column: 2 / 8;
}

.image {
  display: block;
  margin: 0 auto;
  width: 50%;
}

#interaction {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin: 5px 0;
  font-size: 16px;
  width: 100%;
  max-width: 400px;
  box-sizing: border-box;
}

#result {
  font-family: Arial, sans-serif;
}

.event-list {
  margin-top: 10px;
}

.event-item {
  border: 1px solid #ccc;
  padding: 5px;
  margin: 5px 0;
  border-radius: 5px;
  display: flex;
  justify-content: space-between;
}

.event-item.keypress {
  background-color: #FFA500;
}

.iframe-container {
  position: relative;
  overflow: hidden;
  padding-top: 56.25%; /* 16:9 Aspect Ratio */
  height: 0; /* Collapse container vertically */
}

.responsive-iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: none;
}

.container {
  display: flex;
  flex-wrap: wrap;
}

.container .text-section, .image-section img {
  width: 100%;
  height: auto;
  min-width: 100px;
  min-height: 100px;
  object-fit: cover;
}

.container .image-section img {
  width: 100%;
  max-width: 100%;
  height: auto;
}

@media (max-width: 1024px) {
  .container {
    padding: 0 20px; 
  }

  .left, .right {

    text-align: center; 
  }

  .responsive-container {
    flex-direction: column;
    align-items: center; 
  }

  .responsive-text {
    text-align: center; 
    font-size: 0.7rem; /* Reduced text size */
  }

  blockquote {
    margin: 50px; 
    padding: 20px;
  }

  blockquote p {
    font-size: 2rem; /* Reduced text size */
  }
}

@media (max-width: 768px) {
  .container .text-section, .container .image-section {
    flex: 1 0 100%; 
    margin-bottom: 20px; 
  }

  .left, .right {
    grid-column: 1 / -1; 
    text-align: center; 
  }

  .responsive-container {
    align-items: center; 
  }

  .responsive-image {
    width: 100%;
    margin-right: 0;
    margin-bottom: 20px;
  }

  .responsive-text {
    text-align: center; 
    font-size: 0.7rem; /* Reduced text size */
  }

  
  blockquote {
    margin: 20px; 
    padding: 20px;
  }

  blockquote p {
    font-size: 1rem; /* Reduced text size */
  }
}

@media (max-width: 600px) {
  body,  section, blockquote, .text-section ul li {
    text-align: center;
    font-size: 0.75rem; /* Reduced text size */
  }
  header {
    margin-top: 10%;
    text-align: center;
    font-size: 0.75rem; /* Reduced text size */
  }

  .left, .right {
    grid-column: 1 / -1; 
    text-align: center; 
  }

  header, section, .text-section {
    grid-column: 1 / -1; 
  }

  .text-section ul li {
    flex-direction: column;
    align-items: center;
  }

  blockquote {
    margin: 2px; 
    bottom: 3px;
  }

  blockquote p {
    font-size: 0.7rem; 
  }

  .responsive-text {
    text-align: center;
    font-size: 0.75rem; /* Reduced text size */
  }

  .image {
    width: 100%; 
    margin: 0 auto; 
  }

  main {
    padding: 0px; 
  }
}

@keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    transform: translateY(0);
  }

  40% {
    transform: translateY(-30px);
  }

  60% {
    transform: translateY(-15px);
  }
}


.text-section ul {
  list-style-type: none;
  padding: 0;
}

.text-section ul li {
  background: var(--dark-bg);
  margin: 10px 0;
  padding: 10px;
  border-radius: 5px;
  display: flex;
  align-items: center;
  font-size: var(--medium-font-size);
  color: white;
}

.text-section ul li:before {
  content: '✔';
  margin-right: 10px;
  color: #00c767;
  font-size: 1.2em;
}

.responsive-container {
  display: flex;
  align-items: center;
}

.responsive-image {
  width: 30%;
  margin-right: 20px;
}

.responsive-text {
  flex-grow: 1;
}
